@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Work+Sans:wght@500;600&display=swap");
$primary: #15999e;
$secondary: #506a75;
.main-lander {
  width: 100%;
  height: 100vh;
  font-family: "Mona sans", sans-serif;
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    /* background-color: #000000cc; */
  }
  .main-title {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin-top: 10rem;
  }
  p,.watch-File {
    font-family: "Mona sans", sans-serif;
    font-size: 25px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    text-align: center;
  }
}
.watch-File {
  font-family: "Mona sans", sans-serif;
  font-size: 25px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.watch-File {
  margin-top: 1rem;
  width: 260px;
  height: 80px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  color: #15999e !important;
  cursor: pointer;
}
//side bar
.MuiDrawer-paper {
  background-color: #000 !important;
  margin-top: 75px;
  width: 50%;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  .sidebar-grid {
    height: 75px;
  }
  .drawer-icon{
    color:#15999e;
    margin:auto;
  }
}

.live-btn{
  margin-top: 1rem !important;
  color: #15999e !important;
  background-color: #000 !important;
  border-radius: 0 !important;
}